_build
*.native
*.thy~
# model/isabelle/Capabilities.thy
# model/isabelle/Cheri_axioms.thy
tools/gen_lemmas
*.thy#
*.vo
*.vok
*.vos
*.vio
*.glob
*.v.d
*.aux
lia.cache
nlia.cache
Makefile.coq
.lia.cache
.nia.cache
CoqMakefile.conf
Makefile.coq.conf
.Makefile.coq.d
nohup.out
.coqdeps.d
doc/working-note/t-cheri.bbl
doc/working-note/t-cheri.blg
doc/working-note/t-cheri.log
doc/working-note/t-cheri.out
doc/working-note/t-cheri.pdf

/model/coq/.depend
